*{
    margin: 0;
    font-family: arial;
    border: border-box;

}
.navbar {
    height: 60px;
    background-color: rgba(0, 128, 0, 0.588);
    color:black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.navbar1 {
    height: 40px;
    background-color: rgba(137, 43, 226, 0.673);
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
     
}
.date {
    height: 45px;
        background-color: rgba(0, 0, 0, 0.532);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
         
    
}